body {
    background-color: #000222;
    color: #77BBAA;
    text-align: center;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
a {
    color: #BBDDFF;
}
ul {
    margin-left: 30%;
    width: 40%;
}
ul li {
    /* display: inline-block; */
    margin-bottom: 16px;
    text-align: left;
}
p {
    text-align: left;
    margin-left: 25%;
    width: 50%;
}
table {
    padding: 6px
}
table {
    border-collapse: collapse;
}
td, th {
    background-color: #101434;
    border: 1px solid #779988;
    border-collapse: collapse;
    padding: 6px
}
